.container {
  background-color: #faf7f7;
  padding: 32px;
  padding-inline: 100px;
}

.flagsContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 16px;
}

.row {
  display: flex;
  justify-content: space-between;
}